<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="http://at.alicdn.com/t/font_3n1y2hvuscahsemi.css" rel="stylesheet">
    <script type="text/javascript">(<%= require('./src/assets/scripts/responsive.js') %>)({MAX_WIDTH: 1080})</script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="<%= dllSrc %>"></script>
  </body>
</html>
